<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Çetin YAZICI</h1>
        <p>I'm <span class="typed" data-typed-items="Developer, Designer, Freelancer, Photographer"></span></p>
        <div class="social-links">
            <a target="_blank" href="https://www.linkedin.com/in/cetinyazici/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a target="_blank" href="https://github.com/cetinyazici" class="github"><i class="bx bxl-github"></i></a>
            <a target="_blank" href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a target="_blank" href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a target="_blank" href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a target="_blank" href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        </div>
    </div>
</section>