@model SendMessageDto
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>İletişim</h2>
        </div>

        <div class="row mt-1">

            @await Component.InvokeAsync("_ContactInfo")

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form method="post"asp-controller="Contact" asp-action="Index">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" asp-for="Name" placeholder="İsim">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" asp-for="Mail" placeholder="Email">
                            <span asp-validation-for="Mail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" asp-for="Subject" placeholder="Başlık">
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" rows="5" asp-for="MessageBody" placeholder="Mesaj"></textarea>
                        <span asp-validation-for="MessageBody" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-style btn-primary mt-3">Send Message</button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</section>
<!-- End Contact Section -->
