@model Services
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1 class="text-center">
    <i class="bi bi-cone-striped"></i>
    Update Service Page
</h1>
<form method="post">
    <input type="hidden" asp-for="ServicesId" />
    <div class="form-group">
        @Html.Label("ServicesName")
        <input type="text" asp-for="ServicesName" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Description")
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <br />
    <button class="btn btn-primary">
        <i class="bi bi-save"></i>
        Update
    </button>
</form>


