<div class="col-lg-4">
    <div class="info">
        <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Konum:</h4>
            <p>İstanbul - Erzurum</p>
        </div>

        <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>cetin.yazici2525@gmail.com</p>
        </div>

        <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Telefon:</h4>
            <p>+90 505 421 92 25</p>
        </div>

    </div>

</div>