<footer id="footer" class="footer">
    <div class="copyright">
        &copy;@DateTime.Now.Year Copyright <strong><span>Admin Panel</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a href="#">Çetin Yazıcı</a>
    </div>
</footer>