<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="index.html">
                <i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Admin/About/Index">
                <i class="bi bi-info-circle"></i>
                <span>ABOUT</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="facts.html">
                <i class="bi bi-graph-up"></i>
                <span>FACTS</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="skills.html">
                <i class="bi bi-lightbulb"></i>
                <span>SKILLS</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="resume.html">
                <i class="bi bi-file-earmark-text"></i>
                <span>RESUME</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Admin/Portfolio/Index">
                <i class="bi bi-briefcase"></i>
                <span>PORTFOLIO</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Admin/Service/Index">
                <i class="bi bi-cone-striped"></i>
                <span>SERVICES</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="testimonials.html">
                <i class="bi bi-chat-left-quote"></i>
                <span>TESTIMONIALS</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Admin/Contact/Index">
                <i class="bi bi-envelope"></i>
                <span>CONTACT</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-error-404.html">
                <i class="bi bi-dash-circle"></i>
                <span>ERROR 404</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>PROFILE</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-register.html">
                <i class="bi bi-card-list"></i>
                <span>REGISTER</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="logout.html">
                <i class="bi bi-box-arrow-left"></i>
                <span>LOGOUT</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-globe"></i>
                <span>GO TO SITE</span>
            </a>
        </li>

    </ul>
</aside>
